@media screen and (min-width: 960px) {
    .content {
        width: 60vw;
        height: 89vh;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 10;
    }
}

.dresscode {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 960px) {
    .dresscode {
        display: flex;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        z-index: 10;
    }
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Afacad;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.color_title {
    color: #96BDBC;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    gap: 10px;
}

.color {
    max-width: 651px;
    width: 100%;
    height: 194px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: url("../../../public/pictures/Outfit Color Palette 1.png") lightgray 50% / cover no-repeat;
}

.style_title {
    color: #96BDBC;
    text-align: center;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.style {
    color: #FFF;
    text-align: center;
    font-family: Afacad;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.forbidden_title {
    color: #96BDBC;
    text-align: center;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.forbidden {
    color: #FFF;
    text-align: center;
    font-family: Afacad;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.line {
    width: 30px;
    height: 1px;
    color: #96BDBC;
}