.rsvp {
    display: inline-flex;
    width: 60vw;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

@media screen and (max-width: 960px) {
    .rsvp {
        display: inline-flex;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        z-index: 10;
    }
}

.type1_container {
    gap: 12px;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Afacad;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.text {
    color: #96BDBC;

    text-align: center;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.form {
    gap: 20px;
}

.form_label{
    color: #96BDBC;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.form_placeholder {
    color: #025869;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    max-width: 417px !important;
    height: 43px !important;
    width: 100% !important;
    flex-shrink: 0 !important;
    border-radius: 8px !important;
    background: #021F25 !important;
}

.line {
    width: 30px;
    height: 1px;
    color: #96BDBC;
    margin: 0;
}