@media screen and (min-width: 960px) {
    .content {
        width: 60vw;
        height: 89vh;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 10;
    }
}

.venue {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 10;
}

@media screen and (max-width: 960px) {
    .venue {
        display: flex;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        z-index: 10;
    }
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Afacad;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.website {
    color: #96BDBC;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.tabs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tab {
    color: #96BDBC;
    text-align: center;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.tab.active {
    color: white;
  }

.subtab_title {
    color: #96BDBC;
    text-align: center;
    font-family: Afacad;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.subtab_text {
    color: #FFF;
    text-align: center;
    font-family: Afacad;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.line {
    width: 30px;
    height: 1px;
    color: #96BDBC;
}