.navbar {
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    resize: horizontal;
    width: 100%;
    max-width: 60%;
    z-index: 999;
    float: right;
}
  
.navbar-container {
    display: flex;
    align-items: center;
    height: 80px;
}
  
.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
  
.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}
  
.menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: end;
}
  
.navbar-item {
    height: 80px;
}
  
.navbar-link {
    color: #96BDBC;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-family: "Afacad", sans-serif;
    font-size: 14px;
    font-weight:400;
    font-style: normal;
}
  
.navbar-link:hover {
    color: #fff;
    font-size: larger;
    transition: all 0.2s ease-out;
    font-family: "Afacad", sans-serif;
    font-size: 14px;
    font-weight:400;
    font-style: normal;
}

.selected-navbar-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-family: "Afacad", sans-serif;
    font-size: 14px;
    font-weight:400;
    font-style: normal;
}

.fa-bars {
    color: #fff;
}
  
.navbar-link-mobile {
    display: none;
    font-family: "Afacad", sans-serif;
    font-size: 14px;
    font-weight:400;
    font-style: normal;
}
  
.menu-icon {
    display: none;
}

.menu-icon img {
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
  
    .navbar {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: fixed !important;
        top: 0;
        z-index: 999;
        resize: none;
        max-width: 100%;
        float: none;
    }

    .navbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        max-width: 1500px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: flex-start;
    }
  
    .menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding: 0;
        margin: 0;
    }
  
    .navbar-link {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: "Afacad", sans-serif;
        font-size: 14px;
        font-weight:400;
        font-style: normal;
    }
  
    .navbar-link:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
        font-family: "Afacad", sans-serif;
        font-size: 14px;
        font-weight:400;
        font-style: normal;
    }
  
    .selected-navbar-link {
        color: #fff;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: "Afacad", sans-serif;
        font-size: 14px;
        font-weight:400;
        font-style: normal;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
  
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        cursor: pointer;
    }
  
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
  
    .navbar-link-mobile {
        display: block;
        text-align: center;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
        font-family: "Afacad", sans-serif;
        font-size: 14px;
        font-weight:400;
        font-style: normal;
    }
  
    .navbar-link-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
        font-family: "Afacad", sans-serif;
        font-size: 14px;
        font-weight:400;
        font-style: normal;
    }
}